### <p style="text-align: right;"> &#9989; Put your name here.</p>
### <p style="text-align: right;"> &#9989; Put your _GitHub username_ here.</p>

# CMSE 202 Midterm (Section 003 - Spring 25)


# &#128721; READ EVERYTHING CAREFULLY


The goal of this midterm is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll practice setting up a GitHub repository, committing and pushing repository changes, downloading data with command line tools, performing some data analysis, possibly using a new Python package, and writing a python class. You should find that you have all of the skills necessary to complete this exam with even just eight weeks of CMSE 202 under your belt!

You are encouraged to look through the entire exam before you get started so that you can appropriately budget your time and understand the broad goals of the exam. Once you've read through it, try doing Parts 1 and 2 first so that you have your repository set up and you download all necessary data files as they will be necessary to complete the assigned tasks. Let your instructor know right away if you have problems downloading the data!

The exam is set up so that even if you get stuck on one part there are opportunities to get points on the other parts, so consider jumping ahead if you feel like you aren't making progress and then come back later if you have time.

**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However**: The use of any person-to-person communication software is absolutely not acceptable. If you are seen accessing your email, using a chat program (e.g. Slack), or any sort of collaborative cloud storage or document software (e.g. Google Documents), you will be at risk for receiving a zero on the exam.

**Important Guidelines on AI Tool Usage**

This exam allows the use of AI tools (such as ChatGPT, Claude, HiTA) with specific guidelines that mirror real-world professional practices. These tools should enhance your learning and problem-solving process, not replace your intellectual engagement. Here are the key requirements:

1. **Appropriate Use of AI**:
   - Use AI as a learning assistant to understand concepts, debug code, or get unstuck
   - Use AI to improve your solution approach or verify your thinking
   - Use AI to learn about new Python packages or functions you might need

2. **Prohibited Uses**:
   - Direct copying of AI-generated solutions without understanding
   - Asking AI to complete entire questions without your intellectual input
   - Using AI to modify provided starter code or test cases
   - Using AI to circumvent learning objectives or problem requirements

3. **Documentation Requirements**:
   - You must cite any AI assistance received by adding a comment that includes:
     * The AI tool used
     * The specific question you asked
     * How you modified or improved upon the AI's suggestion
   - Example: "# AI assistance: Used Claude to understand lmfit parameter initialization. Modified the suggested approach to include custom bounds."

4. **Evaluation Implications**:
   - Questions showing signs of direct AI solution copying will receive zero points
   - Evidence of not following problem instructions, even if AI-suggested, will result in zero points
   - Modified starter code or test cases will result in zero points for that question

Remember: The goal is to demonstrate your understanding and problem-solving abilities. AI tools should support your learning, not replace your critical thinking and coding skills.

**Note**: Traditional open internet resources (documentation, Stack Overflow, etc.) remain available, but person-to-person communication tools are not permitted."

**Keep your eyes on your screen!** Unfortunately, there isn't enough space in the room for everyone to sit at their own table so please do your best to keep your eyes on your own screen. This exam is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. If any of the instructors observe suspicious behavior, you will, again, risk receiving a zero.

The maximum number of points is: **83 Points**

![Moira](https://media.giphy.com/media/26gs78HRO8sOuhTkQ/giphy.gif)

## Table of Contents

Navigate through the midterm using these links:

* [Part 0: Academic integrity statement (1 point)](#part-0-academic-integrity-statement-1-point)
* [Part 1: Git and Command Line Interface (9 points)](#part-1-git-and-command-line-interface-9-points)
* [Part 2: Working with a less familiar Python package (9 points)](#part-2-working-with-a-less-familiar-python-package-9-points)
* [Part 3: Downloading and analyzing unfamiliar data (24 points)](#part-3-downloading-and-analyzing-unfamiliar-data-24-points)
* [Part 4: Object-Oriented Programming (38 points)](#part-4-object-oriented-programming-38-points)
* [Part 5. Conclusion (3 points)](#part-5-conclusion-3-points)

Total points: **81 points**

---
<a id="part-0-academic-integrity-statement-1-point"></a>

# Part 0: Academic integrity statement (1 point)

[Back to Table of Contents](#Table-of-Contents)

Read the following statement and edit the markdown text to put your name in the statement. This is your commitment to doing your own authentic work on this exam.

> I, **Ryan Groneck**, affirm that this exam represents my own authetic work, without the use of any unpermitted aids or resources or person-to-person communication. I understand that this exam an an opportunity to showcase my own progress in developing and improving my computational skills and have done my best to demonstrate those skills.

---
<a id="part-1-git-and-command-line-interface-9-points"></a>

# Part 1: Git and Command Line Interface (9 points)

[Back to Table of Contents](#Table-of-Contents)

## Setup Instructions

Before starting this section:
1. Open a new terminal/powershell/command prompt window
2. Arrange your screen with this notebook on the left side and the terminal on the right side
3. This split-screen setup will help you work efficiently between the notebook and terminal

**Important**: Even if your terminal opens in the correct directory, you must write out the full commands as if starting from your home directory.

&#9989; **Question 1.1 (2 points)**: Move into your `cmse202-s25-turnin` folder and verify your location.

Write the commands you used below (minimum 2 lines):

**<font size=+3>&#9998;</font> 

- cd ../Repositories/CMSE202-f25-turnin/

- pwd

&#9989; **Question 1.2 (2 points)**: Create the following directory structure in your repository:
```
cmse202-s25-turnin/
    └── midterm/
        ├── screenshots/
        └── data/
```
Write the commands you used to create these folders:

**<font size=+3>&#9998;</font> 

- mkdir midterm

- cd midterm

- mkdir screenshots

- mkdir data

&#9989; **Question 1.3 (1 point)**: Write the command to move this notebook into the `midterm` folder:

**<font size=+3>&#9998;</font> 

- mv ../../../Notebooks/CMSE202-Midterm-Section003-STUDENT.ipynb .

&#9989; **Question 1.4 (2 points)**: Check your repository status.

Write the command you used:

**<font size=+3>&#9998;</font> 

- git status

Paste the output of the command:

**<font size=+3>&#9998;</font> Do This**: 

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        deleted:    ../hw-01/.ipynb_checkpoints/HW-01_GitPracticeDebuggingPythonPackagesAndClasses-SS25-STUDENT-checkpoint.ipynb
        deleted:    ../hw-01/HW-01_GitPracticeDebuggingPythonPackagesAndClasses-SS25-STUDENT.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        ../CMSE202-Midterm-Section003-STUDENT.ipynb
        ../hw-01/.ipynb_checkpoints/Homework_1-checkpoint.ipynb
        ../hw-01/Homework_1.ipynb

**it appears I had some unadded changes from the last asignment, oops**

&#9989; **Question 1.5 (1 point)**: Do you have any untracked files? If not, go back and fix any issues.

**<font size=+3>&#9998;</font> Do This**: 

I can see that the in the untracked files is the midterm project

&#9989; **Question 1.6 (1 point)**: Commit your changes with the message "Committing Part 1" and push to GitHub.

Write the commands you used:

**<font size=+3>&#9998;</font> Do This**: 

- git add -A

- git commit -m 'Commiting Part 1'

---
### &#128721; STOP
**Pause to commit your changes to your Git repository! (1 point)**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 2**", and push the changes to GitHub.

----
----

<a id="part-2-working-with-a-less-familiar-python-package-9-points"></a>

# Part 2: Working with a less familiar Python package (9 points)
[Back to Table of Contents](#Table-of-Contents)


In this part of the exam you will need to review a bit of documentation from either a Python package that you've explored a bit this semester or a new one.

Let's say you like plasma physics and decide to write a python library for it, but you find out that someone has already started working on a library for plasmas and they called it `plasmapy`. Here is the [documentation.](https://docs.plasmapy.org/en/stable/index.html)

&#9989; **Question 2.1 (1 point)**: To start, install `plasmapy` using `pip` or `conda` .

In [1]:
# Put the command for installing plasmapy here and run the cell. Don't forget to restart your kernel afterwards
!pip install plasmapy

/usr/bin/bash: line 1: pip: command not found

&#9989; **Question 2.2 (2 points)**: Answer the following questions in the next markdown cell. Read the output of your command. 

1. Was `plasmapy` installed already ? 
2. What version of `plasmapy` is installed ?

```
1. No, some requirments were already installed but not splasmapy
2. Plasmapy-2024.10.0
```

### Exploring the new library

Now that we have installed `plasmapy` let's look at some of this package features. From its [documentation](https://docs.plasmapy.org/en/stable/index.html) we notice that there is a `Particle` class. 

&#9989; **Question 2.3 (1 point)**: Print the docstring of the `Particle` class. You should get something similar to [this](https://docs.plasmapy.org/en/stable/api/plasmapy.particles.particle_class.Particle.html#plasmapy.particles.particle_class.Particle).

In [15]:
# Put your code here
import plasmapy 
#using the HITA ai with the prompt "How do you print the docstring of a function or class?"
?plasmapy.particles.particle_class.Particle

Init signature:
plasmapy.particles.particle_class.Particle(
    argument: 'ParticleLike',
    *_,
    mass_numb: 'int | None' = None,
    Z: 'int | None' = None,
) -> 'None'
Docstring:
A class for an individual particle or antiparticle.

Parameters
----------
argument : |particle-like|
    A string representing a particle, element, isotope, or ion; an
    integer representing the atomic number of an element; or a
    |Particle|.

mass_numb : int, |keyword-only|, optional
    The mass number of an isotope.

Z : int, |keyword-only|, optional
    The |charge number| of an ion or neutral atom.

Raises
------
`TypeError`
    For when any of the arguments or keywords is not of the required
    type.

`~plasmapy.particles.exceptions.InvalidParticleError`
    Raised when the particle input does not correspond to a valid
    particle or is contradictory.

`~plasmapy.particles.exceptions.InvalidElementError`
    For when an attribute is being accessed that requires
    information about an element, but the particle is not an
    element, isotope, or ion.

`~plasmapy.particles.exceptions.InvalidIsotopeError`
    For when an attribute is being accessed that requires
    information about an isotope or nuclide, but the particle is not
    an isotope (or an ion of an isotope).

`~plasmapy.particles.exceptions.ChargeError`
    For when either the
    `~plasmapy.particles.particle_class.Particle.charge` or
    `~plasmapy.particles.particle_class.Particle.charge_number`
    attributes is being accessed but the charge information for the
    particle is not available.

`~plasmapy.particles.exceptions.ParticleError`
    Raised for attempts at converting a
    |Particle| object to a `bool`.

See Also
--------
~plasmapy.particles.particle_class.CustomParticle
~plasmapy.particles.particle_class.DimensionlessParticle
~plasmapy.particles.particle_collections.ParticleList
~plasmapy.particles.particle_class.valid_categories

Notes
-----
Valid particle categories include: ``"actinide"``, ``"alkali
metal"``, ``"alkaline earth metal"``, ``"antibaryon"``,
``"antilepton"``, ``"antimatter"``, ``"antineutrino"``,
``"baryon"``, ``"boson"``, ``"charged"``, ``"custom"``,
``"electron"``, ``"element"``, ``"fermion"``, ``"halogen"``,
``"ion"``, ``"isotope"``, ``"lanthanide"``, ``"lepton"``,
``"matter"``, ``"metal"``, ``"metalloid"``, ``"neutrino"``,
``"neutron"``, ``"noble gas"``, ``"nonmetal"``, ``"positron"``,
``"post-transition metal"``, ``"proton"``, ``"stable"``,
``"transition metal"``, ``"uncharged"``, and ``"unstable"``.

Examples
--------
Particles may be defined using a wide variety of aliases:

>>> proton = Particle("p+")
>>> electron = Particle("e-")
>>> neutron = Particle("neutron")
>>> deuteron = Particle("D", Z=1)
>>> triton = Particle("T+")
>>> alpha = Particle("He", mass_numb=4, Z=2)
>>> positron = Particle("positron")
>>> hydrogen = Particle(1)  # atomic number

The `~plasmapy.particles.particle_class.Particle.symbol` attribute
returns the particle's symbol in the standard form.

>>> positron.symbol
'e+'

The `~plasmapy.particles.particle_class.Particle.element`,
`~plasmapy.particles.particle_class.Particle.isotope`, and
`~plasmapy.particles.particle_class.Particle.ionic_symbol` attributes
provide the symbols for each of these different types of particles.

>>> proton.element
'H'
>>> alpha.isotope
'He-4'
>>> deuteron.ionic_symbol
'D 1+'

The `~plasmapy.particles.particle_class.Particle.ionic_symbol`
attribute works for neutral atoms if charge information is available.

>>> deuterium = Particle("D", Z=0)
>>> deuterium.ionic_symbol
'D 0+'

If the particle doesn't belong to one of those categories, then
these attributes are `None`.

>>> positron.element is None
True

The attributes of a |Particle| instance may be used to test whether
or not a particle is an element, isotope, or ion.

>>> True if positron.element else False
False
>>> True if deuterium.isotope else False
True
>>> True if Particle("alpha").is_ion else False
True

Many of the attributes provide physical properties of a particle.

>>> electron.charge_number
-1
>>> proton.spin
0.5
>>> alpha.atomic_number
2
>>> deuteron.mass_number
2
>>> deuteron.binding_energy.to("MeV")
<Quantity 2.224... MeV>
>>> alpha.charge
<Quantity 3.20435...e-19 C>
>>> neutron.half_life
<Quantity 881.5 s>
>>> Particle("C-14").half_life.to(u.year)
<Quantity 5730. yr>
>>> hydrogen.ionization_energy
<Quantity 2.17870942e-18 J>
>>> deuteron.electron_number
0
>>> alpha.neutron_number
2

If a |Particle| instance represents an elementary particle, then
the unary ``~`` (invert) operator may be used to return the
particle's antiparticle.

>>> ~positron
Particle("e-")

A |Particle| instance may be used as the first argument to
|Particle|.

>>> iron = Particle("Fe")
>>> iron == Particle(iron)
True
>>> Particle(iron, mass_numb=56, Z=6)
Particle("Fe-56 6+")

If the previously constructed |Particle| instance represents an
element, then the ``Z`` and ``mass_numb`` arguments may be used to
specify an ion or isotope.

>>> iron = Particle("Fe")
>>> Particle(iron, Z=1)
Particle("Fe 1+")
>>> Particle(iron, mass_numb=56)
Particle("Fe-56")

Adding particles together will create a
`~plasmapy.particles.particle_collections.ParticleList`, which is
a list-like collection of particles.

>>> proton + 2 * electron
ParticleList(['p+', 'e-', 'e-'])

The ``>`` operator can be used with |Particle| and/or
`~plasmapy.particles.particle_collections.ParticleList` objects to
return the nuclear reaction energy.

>>> deuteron + triton > alpha + neutron
<Quantity 2.81810898e-12 J>

The `~plasmapy.particles.particle_class.Particle.categories` attribute
and `~plasmapy.particles.particle_class.Particle.is_category` method
may be used to find and test particle membership in categories.
Please refer to
`~plasmapy.particles.particle_class.Particle.is_category` for more
details, including a list of all valid particle categories.
File:           ~/.local/lib/python3.11/site-packages/plasmapy/particles/particle_class.py
Type:           ABCMeta
Subclasses:

&#9989; **Question 2.4 (1 point)**: What error is raised if you pass an argument that is not a valid particle?

**<font size=+3>&#9998;</font> 

an InvalidParticelError, as shown bellow:

class InvalidParticleError(ParticleError):

    """An exception for when a particle is invalid."""

&#9989; **Question 2.5 (3 points)**: Read through the documentation of the `Particle`class [Link](https://docs.plasmapy.org/en/stable/particles/particle_class.html) and 

1. Create a muon particle and call it `my_muon`.

2. Check whether `lepton` is one of the categories of `my_muon` using one of its **methods**.

3. Print the antiparticle of `my_muon` using one of its **attributes**.

In [17]:
### Put your code here
from plasmapy.particles import Particle


my_muon = Particle('muon')

print(my_muon.is_category('lepton'))

print(my_muon.antiparticle)

True
mu+

----
----

<a id="part-3-downloading-and-analyzing-unfamiliar-data-24-points"></a>

# Part 3: Downloading and analyzing unfamiliar data (24 points)

[Back to Table of Contents](#Table-of-Contents)

For this part of the exam, you're to download and analyze a dataset that you've likely not looked at before. You'll perform some simple, exploratorary analysis and create basic visualizations.

In particular, you're going to be working with a dataset that contains data on all nuclear explosions between 1945 and 1998. The data are from 
N.-O. Bergkvist and R. Ferm, Nuclear Explosions 1945–1998, Swedish Defence Research Establishment/SIPRI, Stockholm, July 2000.

There are 16 columns; here we will be concerned with those described in the table below.

| Column      | Description                                                                           |
|-------------|---------------------------------------------------------------------------------------|
| date        | Date of explosion in format YYYYMMDD                                                  |
| time        | Time of explosion in format HHMMSS.Z, where Z represents tenths of seconds              |
| country     | The state that carried out the explosion                                              |
| lat         | The latitude of the explosion in degrees, relative to the equator                       |
| long        | The longitude of the explosion in degrees, relative to the prime meridian               |
| yield_lower | Lower estimate of the yield in kilotons (kt) of TNT                                     |
| yield_upper | Upper estimate of the yield in kilotons (kt) of TNT                                     |
| type        | The method of deployment of the nuclear device                                          |

The link to the file is [hidden here](https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S22-data/main/code_samples/nuclear-explosion-data.csv)

&#9989; **Question 3.1 (1 point)**: Save this file in the same directory as your notebook so you can load it directly. 

**Then, in the cell below, put the command or commands you used to download the files. If you did not use a command line tool to download the files, write down a command that *would* have fetched the files.**

``` 
Put the command(s) you used for downloading the data files here!

```

&#9989; **Question 3.2 (2 points)**: To get started, **read in the `nuclear-explosion-data.csv` dataset** and then display the first 12 rows of the data using **Pandas**.

In [21]:
# Put your code here
!curl -O https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S22-data/main/code_samples/nuclear-explosion-data.csv
import pandas as pd

df = pd.read_csv('nuclear-explosion-data.csv')

df.head(12)

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  178k  100  178k    0     0  1879k      0 --:--:-- --:--:-- --:--:-- 1879k

,date,time,id,country,region,source,lat,long,mb,Ms,depth,yield_lower,yield_upper,purpose,name,type
0,19450716,123000.0,45001,USA,ALAMOGORDO,DOE,32.54,-105.57,0.0,0.0,-0.10,21.0,21.0,WR,TRINITY,TOWER
1,19450805,231500.0,45002,USA,HIROSHIMA,DOE,34.23,132.27,0.0,0.0,-0.60,15.0,15.0,COMBAT,LITTLEBOY,AIRDROP
2,19450809,15800.0,45003,USA,NAGASAKI,DOE,32.45,129.52,0.0,0.0,-0.60,21.0,21.0,COMBAT,FATMAN,AIRDROP
3,19460630,220100.0,46001,USA,BIKINI,DOE,11.35,165.20,0.0,0.0,-0.20,21.0,21.0,WE,ABLE,AIRDROP
4,19460724,213500.0,46002,USA,BIKINI,DOE,11.35,165.20,0.0,0.0,0.03,21.0,21.0,WE,BAKER,UW
5,19480414,181700.0,48001,USA,ENEWETAK,DOE,11.30,162.15,0.0,0.0,-0.08,37.0,37.0,WR,X-RAY,TOWER
6,19480430,180900.0,48002,USA,ENEWETAK,DOE,11.30,162.15,0.0,0.0,-0.08,49.0,49.0,WR,YOKE,TOWER
7,19480514,180400.0,48003,USA,ENEWETAK,DOE,11.30,162.15,0.0,0.0,-0.08,18.0,18.0,WR,ZEBRA,TOWER
8,19490829,12000.0,49001,USSR,SEMI KAZAKH,DOE,48.00,76.00,0.0,0.0,0.00,22.0,22.0,WR,NaN,SURFACE
9,19510127,134500.0,51001,USA,NTS,DOE,37.00,-116.00,0.0,0.0,-0.35,1.0,1.0,WR,ABLE,AIRDROP
10,19510128,135200.0,51002,USA,NTS,DOE,37.00,-116.00,0.0,0.0,-0.35,8.0,8.0,WR,BAKER,AIRDROP
11,19510201,134700.0,51003,USA,NTS,DOE,37.00,-116.00,0.0,0.0,-0.35,1.0,1.0,WR,EASY,AIRDROP

Run the following command and answer the questions below

In [22]:
# Run this. Replace df with the name of your dataframe if it is different.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2051 non-null   int64
 1   time         2051 non-null   float64
 2   id           2051 non-null   int64
 3   country      2051 non-null   object
 4   region       2051 non-null   object
 5   source       2051 non-null   object
 6   lat          2051 non-null   float64
 7   long         2051 non-null   float64
 8   mb           2051 non-null   float64
 9   Ms           2051 non-null   float64
 10  depth        2051 non-null   float64
 11  yield_lower  2048 non-null   float64
 12  yield_upper  2046 non-null   float64
 13  purpose      2050 non-null   object
 14  name         1386 non-null   object
 15  type         2051 non-null   object
dtypes: float64(8), int64(2), object(6)
memory usage: 256.5+ KB

&#9989; **Question 3.3 (4 pts)**: What are the columns with Nan values?

**<font size=+3>&#9998;</font> Do This**: 

Yield_lower, yield_upper, purpose, name

This dataset contains more information that we care about at the moment. 

&#9989; **Question 3.4 (3 pts)**: Drop all the columns **except** `date, country, lat, long, yield_upper, purpose, type`

In [34]:
# Put your code here
#df_new = df['date', 'country', 'lat', 'long', 'yield_upper', 'purpose', 'type']

#after above code did not work, I asked HITA AI: "#I asked the HITA AI: "can you give me a refresher of interacting with data frames, such as selecting certain rows, columns, etc?"
#from its response, I saw I needed to put the column names in a list, which I did not do in the original line

df_new = df[['date', 'country', 'lat', 'long', 'yield_upper', 'purpose', 'type']]

df_new.info()

df = df_new

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2051 non-null   datetime64[ns]
 1   country      2051 non-null   object
 2   lat          2051 non-null   float64
 3   long         2051 non-null   float64
 4   yield_upper  2046 non-null   float64
 5   purpose      2050 non-null   object
 6   type         2051 non-null   object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 112.3+ KB

In [35]:
## READ THIS 
# Run this cell without changing anything.

# Change the df to the name of your dataframe. 
df["date"] = pd.to_datetime(df["date"], format = "%Y%m%d", errors='coerce')
df.head(5)

        date country    lat    long  yield_upper purpose     type
0 1945-07-16     USA  32.54 -105.57         21.0      WR    TOWER
1 1945-08-05     USA  34.23  132.27         15.0  COMBAT  AIRDROP
2 1945-08-09     USA  32.45  129.52         21.0  COMBAT  AIRDROP
3 1946-06-30     USA  11.35  165.20         21.0      WE  AIRDROP
4 1946-07-24     USA  11.35  165.20         21.0      WE       UW

&#9989; **Question 3.5 (2 points)**: Use built-in Pandas functions to get a quick statistical summary of your data (e.g. the mean, standard deviation, min, max, etc) **divided by country .**

In [37]:
# Put your code here

#df.groupby('country')
#df.describe()

#after trying the above lines, I asked HITA AI: "What are other built in pandas functions for getting summary info on a data frame?"
#from this I say that 'groupby' was not inplace

df_grouped = df.groupby('country')
df_grouped.describe()

          date                                                      \
         count                           mean                  min
country
CHINA       45            1979-11-16 00:32:00  1964-10-16 00:00:00
FRANCE     210  1979-07-10 21:01:42.857142848  1960-02-13 00:00:00
INDIA        3            1990-05-14 00:00:00  1974-05-18 00:00:00
PAKISTAN     2            1998-05-29 00:00:00  1998-05-28 00:00:00
UK          45            1968-10-19 14:56:00  1952-10-03 00:00:00
USA       1032  1969-02-28 02:18:08.372093024  1945-07-16 00:00:00
USSR       714  1971-11-27 19:11:35.798319328  1949-08-29 00:00:00

                                                                         \
                          25%                  50%                  75%
country
CHINA     1971-11-18 00:00:00  1978-03-15 00:00:00  1988-09-29 00:00:00
FRANCE    1973-09-01 00:00:00  1980-05-10 12:00:00  1985-11-16 18:00:00
INDIA     1986-05-14 12:00:00  1998-05-11 00:00:00  1998-05-12 00:00:00
PAKISTAN  1998-05-28 12:00:00  1998-05-29 00:00:00  1998-05-29 12:00:00
UK        1957-06-19 00:00:00  1962-12-07 00:00:00  1980-12-17 00:00:00
USA       1962-06-21 18:00:00  1967-10-25 00:00:00  1975-06-20 18:00:00
USSR      1962-10-10 18:00:00  1972-04-04 00:00:00  1979-10-22 12:00:00

                                       lat             ...    long  \
                          max  std   count       mean  ...     max
country                                                ...
CHINA     1996-07-29 00:00:00  NaN    45.0  41.407689  ...   89.94
FRANCE    1996-01-27 00:00:00  NaN   210.0 -17.215486  ...    5.40
INDIA     1998-05-13 00:00:00  NaN     3.0  27.013333  ...   71.70
PAKISTAN  1998-05-30 00:00:00  NaN     2.0  28.695000  ...   64.89
UK        1991-11-26 00:00:00  NaN    45.0  12.478356  ...  132.35
USA       1992-09-23 00:00:00  NaN  1032.0  33.928203  ...  179.22
USSR      1990-10-24 00:00:00  NaN   714.0  54.114804  ...  125.34

                     yield_upper                                            \
                 std       count        mean     min    25%    50%     75%
country
CHINA       0.354505        43.0  602.930233   0.000  20.00   70.0  200.00
FRANCE     46.704772       208.0  103.413462   0.000   5.00   20.0  150.00
INDIA       0.000000         3.0   13.666667   1.000  10.50   20.0   20.00
PAKISTAN    0.784889         2.0   26.500000  18.000  22.25   26.5   30.75
UK        114.862560        45.0  240.177778   0.000  20.00  150.0  150.00
USA        72.668018      1031.0  225.937476   0.000  20.00   20.0  150.00
USSR       15.777989       714.0  518.852004   0.001   8.50   20.0  150.00


              max          std
country
CHINA      8000.0  1476.999861
FRANCE     1000.0   212.826350
INDIA        20.0    10.969655
PAKISTAN     35.0    12.020815
UK         3000.0   529.986322
USA       15000.0  1093.912025
USSR      50000.0  3186.714096

[7 rows x 32 columns]

&#9989; **Question 3.6 (2 points)**: Looking at the above output, answer the following questions: 

1. What countries have used nuclear weapons?
2. How many weapons did the USA use?
3. When did the USSR dropped its first nuclear bomb?
4. When and which country dropped the last bomb?

**<font size=+3>&#9998;</font> Do This**: *Record your answers here.*

&#9989; **Question 3.7 (7 points)**: Using `seaborn` make an histogram with stacked data ([_Hint_](https://seaborn.pydata.org/examples/index.html) ) : 

1. with the `date` as the `x` axis

2. 45 bins

3. color by country

4. make the figure size equal to 10, 7

5. set the `palette` option equal to `"Dark2"`. Or change it to your preference [Link to colors](https://matplotlib.org/stable/tutorials/colors/colormaps.html)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_context("talk")

_ = plt.xticks(rotation = 40) # This line rotates the ticks of the x-axis so that they are easy to read.

&#9989; **Question 3.8 (2 points)**: Looking at the above output, answer the following questions: 

1. What country used nuclear weapons in 1960?
2. What countries are the last to use nuclear weapons?

**<font size=+3>&#9998;</font> Do This**: *Record your answers here.*

---
### &#128721; STOP
**Pause to commit your changes to your Git repository! (1 point)**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 3**", and push the changes to GitHub.

---
<a id="part-4-object-oriented-programming-38-points"></a>

# Part 4: Object-Oriented Programming (38 points)

[Back to Table of Contents](#Table-of-Contents)



<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Starting_position_in_a_chess_game.jpg/1024px-Starting_position_in_a_chess_game.jpg width=600px align=center >


Let's set up a fictional chess! Here is a [link](https://chess-teacher.com/wp-content/uploads/2016/01/symbols-of-chess-pieces.jpg) explaining the meaning of each piece.

&#9989; **Question 4.1 (9 points)**: The following cell contains a draft of a class called `ChessPiece` with only the `__init__` constructor. Complete the `__init__` constructor so that it:

- takes in three arguments, `color`, `shape`, with no default values. These arguments correspond to three attributes with the same name.

- creates another attribute called `position`. This should be a `tuple` set to `('a', 0)`. _Note:_ `'a'` is a `str` while `0` is an `int`.

- check whether `shape` is contained in the `list` `["bishop", "king", "knight", "pawn", "queen", "rook"]`. If no `raise` a `ValueError` with the message `"Piece does not exist."`.  [Hint](https://stackoverflow.com/questions/2052390/manually-raising-throwing-an-exception-in-python)

In [ ]:
# Put your code here
class ChessPiece:
    """Base class for chess pieces. 
    
    Attributes
    ----------
    color : str
        Color of the chess piece.
    
    shape : str
        Shape of the chess piece. It can be only one of the following
        ["bishop", "king", "knight", "pawn", "queen", "rook"]
    
    position : tuple
        Position on the chess board.
    
    """
    def __init__(): 
        """Initialize the chess piece with its attributes color and shape 
        and set the initial position to the lower left corner of the board.
        
        Input Parameter
        ---------------
        color : str
            Color of the chess piece.
    
        shape : str
            Shape of the chess piece. It can be only one of the following
            ["bishop", "king", "knight", "pawn", "queen", "rook"]
        
        Raises
        ------
        ValueError
            For when the shape is not one of the possible shapes."""
        
        # Put your code here
        
        pass

## Test your code

Let's that the code works. Run the following cells.

In [ ]:
#
pawn = ChessPiece(color = "white", shape = "pawn")

pawn.position

&#9989; **Question 4.1.1 (1 point):** Is `pawn` starting in the correct position `('a',0)`? If Yes move to the next, otherwise fix your code.

In [ ]:
# Let's try breaking the code

archer = ChessPiece(color = "black", shape = "archer")

&#9989; **Question 4.1.2 (1 point):** Did you get a `ValueError` with the correct message? If Yes move to the next, otherwise fix your code.

---
&#9989; **Question 4.2 (21 points)**: In the code cell below there is a draft of a class called `Queen`. Complete this class which **should inherit** the `ChessPiece` class. In addition, modify the methods such that:

- the `__init__` constructor 
    * takes in one argument, `color`. 
    * set the `shape` attribute to `queen`
    * initializes the `position` attribute to `('d',1)` if the `color` attribute is `'white'` otherwise it initializes it to `('d',8)` if the color attribute is `'black'`.
    
- the `move_to` method should:
    * take in one argument `to_position`, with no default value. This will be the position in the chess board where the queen will move.
    * check whether the `to_position` is an _instance_ of a `tuple` [Hint](<https://letmegooglethat.com/?q=How+do+I+check+if+an+object+is+an+instance+of+a+given+class+python>).:
        * if no then it will raise a `TypeError` with the message `"Please pass a tuple."` [Hint](https://stackoverflow.com/questions/2052390/manually-raising-throwing-an-exception-in-python).
        
        * if yes then it will check if `to_position` is an allowed value, _i.e._ check if the elements of the `tuple` exist on the chess board. If the desired position does not exist on the board then raise a `ValueError` with the message `"Move not allowed."` Otherwise set the attribute `position` equal to `to_position`. _Note:_ the allowed x-coordinates are `"a"` through `"h"` and the allowed y-coordinates are `1` through `8`!.

In [ ]:
# Put your code here
class Queen:
    """
    Queen chess piece. Can move in any direction. It inherits the ChessPiece class.
    """
    def __init__(): 
        """
        Initialize the chess piece with its attributes color and shape 
        and set the initial position to the lower left corner of the board.
        
        Input Parameter
        ---------------
        color : str
            Color of the chess piece.

        """
        # Put your code here
        pass
    
    def move_to():
        """
        Move the chess piece to the given position.
        
        Input parameter
        ---------------
        to_position: tuple
            Chess board coordinates where to move the piece.
        
        Raises
        ------
        ValueError
            For when the elements of the tuple are not part of the chess board.
        
        TypeError
            For when the input argument is not of the required type.   
        """
        # Put your code here
        pass

## Test your code

Let's check that the code works. Run the following cell.

In [ ]:
# Create two queens

harmon = Queen(color = 'black')
kasparov = Queen(color = "white")

print(harmon.position)
print(kasparov.position)

&#9989; **Question 4.3.1 (2 points):** Are the queens starting in the correct positions? Look at the board above. If Yes move to the next, otherwise fix your code.

In [ ]:
# Let's try to move 
harmon.move_to(("e",2))

print(harmon.position)

&#9989; **Question 4.3.2 (1 point)** Has the queen moved to the correct position? If Yes move to the next, otherwise fix your code.

In [ ]:
# Let's try and break the code

kasparov.move_to( "upper left by two")

&#9989; **Question 4.3.3 (1 point)**. Did you get a `TypeError` with the correct message? If Yes move to the next, otherwise fix your code.

In [ ]:
# Let's check the ValueError

harmon.move_to(to_position=("l",6))

&#9989; **Question 4.3.4 (1 point)**. Did you get a `ValueError` with the correct message? If Yes move to the next, otherwise fix your code.

---
### &#128721; STOP
**Pause to commit your changes to your Git repository! (1 point)**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 4**", and push the changes to GitHub.

---

---
<a id="part-5-conclusion-3-points"></a>

# Part 5. Conclusion (3 points)

[Back to Table of Contents](#Table-of-Contents)

Make sure all of your changes to your repository are committed and pushed to GitHub. 
Before you leave

1. Commit changes to your **local** `git` repository (1 point)

2. Push the changes to your GitHub repository (1 point)

3. Upload your notebook to D2L in case something went wrong with your repository or if you couldn't get the repository to work.  (1 point)

## You're done! Congrats on finishing your CMSE 202 Midterm!

![Moira2](https://media.giphy.com/media/d1E2HnwywoTkES08/giphy.gif)

&#169; Copyright 2025,  Department of Computational Mathematics, Science and Engineering at Michigan State University